In [2]:
txt1 = 'A tale that was not right'
txt2 = '이 또한 지나가리라.'

print(txt1[5])
print(txt2[-2])

print(txt1[3:7])
print(txt1[:6])
print(txt2[-4:])

e
라
ale
A tale
가리라.

In [4]:
txt = "python"
for i in range(len(txt)):
    print(txt[:i+1])

p
py
pyt
pyth
pytho
python

In [11]:
print('[시작:끝:간격]')
txt = 'aAbBcCdDeEfFgGhHiIjJkK'
ret1 = txt[::2]
ret2 = txt[1::2]
print(ret1)
print(ret2)

print('[::-(역순)/숫자(간격)]') #역순 -1 == 0 == 맨 끝
txt = 'abcdefghijk'
ret3 = txt[::-1]
ret4 = txt[::-2]
ret5 = txt[-2::-2]
print(ret3)
print(ret4)
print(ret5)

[시작:끝:간격]
abcdefghijk
ABCDEFGHIJK
[::-(역순)/숫자(간격)]
kjihgfedcba
kigeca
kigeca

In [12]:
filename = input('저장할 파일 이름을 입력하세요 : ')
filename = filename + '.jpg'
display_msg = '방금 저장된 파일 이름은 <' + filename + '>입니다.'
print(display_msg)

저장할 파일 이름을 입력하세요 : unknown
방금 저장된 파일 이름은 <unknown.jpg>입니다.

In [15]:
msg1 = 'Good morning'
msg2 = 'Everyone '
display_msg = msg1 + ',' + msg2*3 + '!'
print(display_msg)

Good morning,Everyone Everyone Everyone !

In [16]:
msg = input('임의의 문장을 입력하세요.')
if 'a' in msg:
    print('방금 입력한 문장에는 "a"가 있습니다.')
#    print('방금 입력한 문장에는 {}개의 "a"가 있습니다.')
else:
    print('방금 입력한 문장에는 "a"가 없습니다.')

임의의 문장을 입력하세요.I had a wonderful dream last night.
방금 입력한 문장에는 "a"가 있습니다.

In [20]:
#문자열 인식
txt1 = 'A'
txt2 = '안녕'
txt3 = 'Warcraft Three'
txt4 = '3PO'

ret1 = txt1.isalpha()
ret2 = txt2.isalpha() #문자면 o
ret3 = txt3.isalpha() #빈공간 x
ret4 = txt4.isalpha() #숫자 x

print(ret1)
print(ret2)
print(ret3)
print(ret4)

True
True
True
False

In [21]:
#숫자 인식
txt1 = '010-1234-5678'
txt2 = 'R2D2'
txt3 = '1212'

ret1 = txt1.isdigit()
ret2 = txt2.isdigit()
ret3 = txt3.isdigit()

print(ret1)
print(ret2)
print(ret3)

False
False
True

In [22]:
#문자, 숫자 인식
txt1 = '안녕하세요?'
txt2 = '1. Title-제목을 넣으세요'
txt3 = '3피오R2D2'

ret1 = txt1.isalnum()
ret2 = txt2.isalnum ()
ret3 = txt3.isalnum ()

print(ret1) 
print(ret2)
print(ret3)

False
False
True

In [23]:
txt = '   양쪽에 공백이 있는 문자열입니다.   '

ret1 = txt.lstrip()
ret2 = txt.rstrip()
ret3 = txt.strip()

print('<'+txt+'>')
print('<'+ret1+'>')
print('<'+ret2+'>')
print('<'+ret3+'>')

<   양쪽에 공백이 있는 문자열입니다.   >
<양쪽에 공백이 있는 문자열입니다.   >
<   양쪽에 공백이 있는 문자열입니다.>
<양쪽에 공백이 있는 문자열입니다.>

In [27]:
#수치형 자료 => 문자열 변환
num1 = 1234
num2 = 3.14

numstr1 = str(num1)
numstr2 = str(num2)

print('num1 문자열 변환값은 \'%s\'입니다.' %numstr1)
print('num2 문자열 변환값은 \'%s\'입니다.' %numstr2)

num1 문자열 변환값은 '1234'입니다.
num2 문자열 변환값은 '3.14'입니다.

In [29]:
txt = 'A lot of things occur each day, every day.'

word_count1 = txt.count('o')
word_count2 = txt.count('day')
word_count3 = txt.count(' ')

print(word_count1)
print(word_count2)
print(word_count3)

3
2
8

In [28]:
count find

SyntaxError: invalid syntax (<ipython-input-28-cd0a09e4ddfe>, line 1)

In [34]:
txt = 'A lot of things occur each day, every day.'

offset1 = txt.find('e')
offset2 = txt.find('day')
offset3 = txt.find('day', 30) #30부터 찾아라

print(offset1)
print(offset2)
print(offset3)

22
27
38

In [50]:
url = 'http://www.naver.com/news/today=20160831'
log = 'name:고길동 age:27 gender:남자 nation:한국'

ret1 = url.split('/')
print(ret1)
print()

ret2 = log.split()
for data in ret2:
    print(data.split(':')[0], '->', data.split(':')[1])
    d1, d2 = data.split(':')
    print('{} => {}' .format(d1, d2))
    print()

['http:', '', 'www.naver.com', 'news', 'today=20160831']

name -> 고길동
name => 고길동

age -> 27
age => 27

gender -> 남자
gender => 남자

nation -> 한국
nation => 한국

In [40]:
loglist = ['2016/08/26 10:12:11', '200', 'OK', '이 또한 지나가리라']
bond = ' >>> '

log = bond.join(loglist)
print(log)

2016/08/26 10:12:11 >>> 200 >>> OK >>> 이 또한 지나가리라

In [53]:
txt = 'My password is 1234'

ret1 = txt.replace('1', '0')
ret2 = txt.replace('1', 'python')

print(ret1)
print(ret2)

txt = '매일 많은 일들이 일어납니다.'

ret3 = txt.replace('매일', '하루하루')
ret4 = ret3.replace('일', '사건')

print(ret3)
print(ret4)

My password is 0234
My password is python234
하루하루 많은 일들이 일어납니다.
하루하루 많은 사건들이 사건어납니다.

In [59]:
u_txt = 'I love python'
b_txt = u_txt.encode() #인코딩

print(u_txt)
print(b_txt) #문자열로 보여지지만 실제로는 바이트값을 저장

print(b_txt[0]) #I
print(b_txt[1]) #공백

ret1 = 'I' == u_txt[0]
ret2 = 'I' == b_txt[0]
ret3 = 73 == b_txt[0]

print(ret1)
print(ret2)
print(ret3)

b_txt = b'A lot of things occur each day.'
u_txt = b_txt.decode() #디코딩

print(b_txt)
print(u_txt)

I love python
b'I love python'
73
32
True
False
True
b'A lot of things occur each day.'
A lot of things occur each day.

In [61]:
strdata = input('정렬할 문자열을 입력하세요: ')

ret1 = sorted(strdata)
ret2 = sorted(strdata, reverse = True)

print(ret1)
print(ret2)

ret1 = ''.join(ret1)
ret2 = ''.join(ret2)

print('오름차순으로 정렬된 문자열은 <' + ret1 + '> 입니다.')
print('내림차순으로 정렬된 문자열은 <' + ret2 + '> 입니다.')

정렬할 문자열을 입력하세요: apple banana papaya
[' ', ' ', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'b', 'e', 'l', 'n', 'n', 'p', 'p', 'p', 'p', 'y']
['y', 'p', 'p', 'p', 'p', 'n', 'n', 'l', 'e', 'b', 'a', 'a', 'a', 'a', 'a', 'a', 'a', ' ', ' ']
오름차순으로 정렬된 문자열은 <  aaaaaaabelnnppppy> 입니다.
내림차순으로 정렬된 문자열은 <yppppnnlebaaaaaaa  > 입니다.

In [62]:
listdata = [1, 2, 'a', 'b', 'c', [4, 5, 6]]

val1 = listdata[1]
val2 = listdata[3]
val3 = listdata[5][1]

print(val1) 
print(val2) 
print(val3)

2
b
5

In [66]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
rock_planets = solarsys[1:4]
gas_planets = solarsys[4:]
print('태양계의 암석형 행성 : ', end='');print(rock_planets)
print('태양계의 가스형 행성 : ', end='');print(gas_planets)

태양계의 암석형 행성 : ['수성', '금성', '지구']
태양계의 가스형 행성 : ['화성', '목성', '토성', '천왕성', '해왕성']

In [67]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '지구']
planet = '지구'

pos = solarsys.index(planet)
print('{}은(는) 태양계에서 {}번째에 위치하고 있습니다' .format(planet, pos))

pos = solarsys.index(planet, 5)
print('{}은(는) 태양계에서 {}번째에 위치하고 있습니다' .format(planet, pos))

지구은(는) 태양계에서 3번째에 위치하고 있습니다
지구은(는) 태양계에서 9번째에 위치하고 있습니다

In [68]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
planet = '화성'

pos = solarsys.index(planet)
solarsys[pos] = 'Mars'

print(solarsys)

['태양', '수성', '금성', '지구', 'Mars', '목성', '토성', '천왕성', '해왕성']

In [80]:
listdata = list(range(5))
print('원본 list : ', end=''); print(listdata)
listdata.reverse()
print('역순 list(reverse() 이용) : ', end=''); print(listdata)

listdata = list(range(5))
ret1 = reversed(listdata)
ret1 = list(ret1)
print('원본 list : ', end=''); print(listdata)
print('역순 list(reversed() 이용) : ', end=''); print(ret1)

ret2 = listdata[::-1]
print('역순 list(슬라이싱 이용) : ', end=''); print(ret2)

원본 list : [0, 1, 2, 3, 4]
역순 list(reverse() 이용) : [4, 3, 2, 1, 0]
원본 list : [0, 1, 2, 3, 4]
역순 list(reversed() 이용) : [4, 3, 2, 1, 0]
역순 list(슬라이싱 이용) : [4, 3, 2, 1, 0]

In [81]:
listdata1 = ['a', 'b', 'c', 'd', 'e']
listdata2 = ['f', 'g', 'h', 'i', 'j']

listdata3 = listdata1 + listdata2
listdata4 = listdata2 + listdata1

print(listdata3)
print(listdata4)

listdata = list(range(3))
ret = listdata * 3
print(ret)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['f', 'g', 'h', 'i', 'j', 'a', 'b', 'c', 'd', 'e']
[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [86]:
listdata = list()
for i in range(3):
    txt = input('리스트에 추가할 값을 입력하세요. [{}/3] : ' .format(i+1))
    listdata.append(txt)
    print(listdata)

리스트에 추가할 값을 입력하세요. [1/3] : 안뇽
['안뇽']
리스트에 추가할 값을 입력하세요. [2/3] : 안뇽뇽
['안뇽', '안뇽뇽']
리스트에 추가할 값을 입력하세요. [3/3] : 안뇽뇽뇽
['안뇽', '안뇽뇽', '안뇽뇽뇽']

In [84]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
pos = solarsys.index('목성')
solarsys.insert(pos, 'Jupiter')
print(solarsys)

['태양', '수성', '금성', '지구', '화성', 'Jupiter', '목성', '토성', '천왕성', '해왕성']

In [90]:
listdata = []
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
del solarsys[0]
print(solarsys)
del solarsys[-2]
print(solarsys)

del solarsys[1:3]
print(solarsys)

del solarsys
#print(solarsys)

['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
['수성', '금성', '지구', '화성', '목성', '토성', '해왕성']
['수성', '화성', '목성', '토성', '해왕성']

In [92]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solarsys.remove('화성')
print(solarsys)

['태양', '수성', '금성', '지구', '목성', '토성', '천왕성', '해왕성']

In [94]:
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
listsize = len(listdata)
print(listsize)

c1 = listdata.count(2)
c2 = listdata.count(7)
print((c1, c2))

15
(3, 1)

In [96]:
namelist = ['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly']
namelist.sort()
print(namelist)

namelist = ['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly']
ret1 = sorted(namelist)
ret2 = sorted(namelist, reverse=True)
print(namelist)
print(ret1)
print(ret2)

['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']
['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly']
['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']
['Tom', 'Sams', 'Michale', 'Mary', 'Kelly', 'Bob', 'Aimy']

In [97]:
from random import shuffle

listdata = list(range(1, 11))
for i in range(3):
    shuffle(listdata)
    print(listdata)

[9, 7, 4, 5, 6, 2, 3, 1, 8, 10]
[1, 9, 6, 10, 3, 8, 7, 4, 5, 2]
[10, 4, 1, 7, 5, 8, 3, 9, 2, 6]

In [105]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
ret = list(enumerate(solarsys)) #enumerate : 인덱스와 데이터를 한쌍으로
print(ret)

for (i, body) in enumerate(solarsys):
    print('태양계의 {}번째 천체 : {}' .format(i+1, body))

[(0, '태양'), (1, '수성'), (2, '금성'), (3, '지구'), (4, '화성'), (5, '목성'), (6, '토성'), (7, '천왕성'), (8, '해왕성')]
태양계의 1번째 천체 : 태양
태양계의 2번째 천체 : 수성
태양계의 3번째 천체 : 금성
태양계의 4번째 천체 : 지구
태양계의 5번째 천체 : 화성
태양계의 6번째 천체 : 목성
태양계의 7번째 천체 : 토성
태양계의 8번째 천체 : 천왕성
태양계의 9번째 천체 : 해왕성

In [106]:
listdata = [2, 2, 1, 3, 8, 5, 7, 6, 3, 6, 2, 3, 9, 4, 4]
ret = sum(listdata)
print(ret)

65

In [107]:
listdata1 = [0, 1, 2, 3, 4] 
listdata2 = [True, True, True]
listdata3 = ['', [], (), {}, None, False]

print(all(listdata1)) #모두 True여야 True
print(any(listdata1)) #하나라도 True면 True
print(all(listdata2)) 
print(any(listdata2)) 
print(all(listdata3)) 
print(any(listdata3))

False
True
True
True
False
False

In [109]:
solar1 = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solar2 = ['Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
solardict = {}

for i, k in enumerate(solar1):
    val = solar2[i]
    solardict[k] = val
    
print(solardict)

{'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Neptune'}

In [111]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
del names['Sams']
print(names)

names.clear()
print(names)

{'Mary': 10999, 'Aimy': 9778, 'Tom': 20245, 'Michale': 27115, 'Bob': 5887, 'Kelly': 7855}
{}

In [120]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
keys = names.keys()
vals = names.values()
print(keys)
print(vals)

vals_list = list(vals)
print(vals_list)
ret = sum(vals_list)
print('출생아 수 총계 : {}' .format(ret))

dict_keys(['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly'])
dict_values([10999, 2111, 9778, 20245, 27115, 5887, 7855])
[10999, 2111, 9778, 20245, 27115, 5887, 7855]
출생아 수 총계 : 83990

In [136]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
keys = names.keys()

for k in keys:
    print('Key: {}' .format(k), ' \tValue: {}' .format(names[k]))
    #print('Key: %s' %k, '\tValue: %d' %names[k])
    #print('Key: %s \tValue: %d' %(k, names[k]))
    #print('Key: {0} \tValue: {1}' .format(k, names[k]))

Key: Mary  	Value: 10999
Key: Sams  	Value: 2111
Key: Aimy  	Value: 9778
Key: Tom  	Value: 20245
Key: Michale  	Value: 27115
Key: Bob  	Value: 5887
Key: Kelly  	Value: 7855

In [118]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
items = names.items()
print(items)

for item in items:
    print(item)

dict_items([('Mary', 10999), ('Sams', 2111), ('Aimy', 9778), ('Tom', 20245), ('Michale', 27115), ('Bob', 5887), ('Kelly', 7855)])
('Mary', 10999)
('Sams', 2111)
('Aimy', 9778)
('Tom', 20245)
('Michale', 27115)
('Bob', 5887)
('Kelly', 7855)

In [138]:
names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
k = input('이름을 입력하세요. : ')
if k in names:
    print('이름이 <{}>인 출생아 수는 <{}>명입니다.' .format(k, names[k]))
else:
    print('자료에 <{}> 이름이 존재하지 않습니다.' .format(k))

이름을 입력하세요. : Mary
이름이 <Mary>인 출생아 수는 <10999>명입니다.

In [142]:
 names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}

ret1 = sorted(names) #오름차순, key만 정렬
ret2 = sorted(names.keys()) #오름차순, key만 정렬
ret3 = sorted(names.values()) #오름차순, value만 정렬

print(ret1)
print(ret2)
print(ret3)

['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']
['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']
[2111, 5887, 7855, 9778, 10999, 20245, 27115]

In [146]:
 names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 
'Michale':27115, 'Bob':5887, 'Kelly':7855}
    
def f1(x):
    return x[0] #key

def f2(x):
    return x[1] #value

ret1 = sorted(names.items()) #key 기준 오름차순
ret2 = sorted(names.items(), key=f1) #key 기준 오름차순
ret3 = sorted(names.items(), key=f2) #value 기준 오름차순
ret4 = sorted(names.items(), key=f2, reverse=True) #value 기준 내림차순

print(ret1)
print(ret2)
print(ret3)
print(ret4)

[('Aimy', 9778), ('Bob', 5887), ('Kelly', 7855), ('Mary', 10999), ('Michale', 27115), ('Sams', 2111), ('Tom', 20245)]
[('Aimy', 9778), ('Bob', 5887), ('Kelly', 7855), ('Mary', 10999), ('Michale', 27115), ('Sams', 2111), ('Tom', 20245)]
[('Sams', 2111), ('Bob', 5887), ('Kelly', 7855), ('Aimy', 9778), ('Mary', 10999), ('Tom', 20245), ('Michale', 27115)]
[('Michale', 27115), ('Tom', 20245), ('Mary', 10999), ('Aimy', 9778), ('Kelly', 7855), ('Bob', 5887), ('Sams', 2111)]

In [152]:
#ord : 문자 > 아스키 코드값
#chr : 아스키 코드값 > 문자
#hex : 16진수값

ch = input('문자 1개를 입력하세요. : ')
  
if len(ch) != 0:
    ch = ch[0]
    chv = ord(ch)
    print('입력 문자: {0} \t코드값: {1}[{2}]' .format(ch, chv, hex(chv)))

문자 1개를 입력하세요. : 고
입력 문자: 고 	코드값: 44256[0xace0]

In [157]:
val = input('문자 코드값을 입력하세요. :')
val = int(val)

try:
    ch = chr(val)
    print('입력 코드값: {0}[{1}] \t문자: {2}' .format(val, hex(val), ch))
except ValueError as err:
    print('입력한 <{}>에 대한 문자가 존재하지 않습니다.' .format(val), '\n',err)

문자 코드값을 입력하세요. :54620
입력 코드값: 54620[0xd55c] 	문자: 한

In [160]:
expr1 = '2+3'
expr2 = 'round(3.7)'

ret1 = eval(expr1)
ret2 = eval(expr2)

print('\'{}\'(을/를) eval()로 실행한 결과 : {}' .format(expr1, ret1))
print('\'{}\'(을/를) eval()로 실행한 결과 : {}' .format(expr2, ret2))

'2+3'(을/를) eval()로 실행한 결과 : 5
'round(3.7)'(을/를) eval()로 실행한 결과 : 4

In [9]:
add = lambda x,y : x+y
ret = add(1,3)
print(ret)

funcs = [lambda x:x+'.pptx', lambda x:x+'.docx']
ret1 = funcs[0]('Intro') #람다함수 호출
ret2 = funcs[1]('Report')
print(ret1)
print(ret2)

names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 'Michale':27115,
          'Bob':5887, 'Kelly':7855}
ret3 = sorted(names.items(), key=lambda x:x[0]) #x:items, x[0]:keys
print(ret3)

4
Intro.pptx
Report.docx
[('Aimy', 9778), ('Bob', 5887), ('Kelly', 7855), ('Mary', 10999), ('Michale', 27115), ('Sams', 2111), ('Tom', 20245)]

In [21]:
func = lambda x:x*x
args = [1,2,3,4,5]
ret = map(func, args) #함수와 인자를 map에 함께 담으면 실행됨
print(list(ret)) #map 객체는 list로 변형하여 확인
print([*map(func, args)])

func = lambda x,y:x*x+y
x = [1, 2, 3, 4, 5]
y = [10, 9, 8, 7,6]
ret = map(func, x, y)
print(list(ret))
print([*map(func, x, y)])

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]
[11, 13, 17, 23, 31]
[11, 13, 17, 23, 31]